#momentInput{
    display: none;
}
.moment-picker{
    width: 100%;
    display: table;
    margin: 0 auto;
    margin-bottom: 25px;
}

.multiselect-parent{
    width: 100%;
}
.multiselect-parent button{
    width: 100%;
    text-align: left;
}
.multiselect-parent .caret{
    position: absolute;
    right: 10px;
    float: right;
    top: 50%;
    transform: translatey(-50%);
}
.multiselect-parent ul{
    width: 100%;
}
.multiselect-parent ul li{
    cursor: pointer;
}


#mainContent{    
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    display: table;
    margin: 0 auto;
}
#left {
    width: 30%;
    max-width: 310px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding: 30px;
    box-sizing: border-box;
    z-index: 0;
}
#right{
    width: 69%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding: 30px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

#searchDateHeader, #filterHeader{
    padding-bottom: 10px;
    font-size: 40px;
    border-bottom: 5px solid #0078c1;
    font-weight: bold;
}

#filterHeader{
    margin-bottom: 20px;
}

#activeDays{
    width: 100%;
    /*height: calc(100vh - 60px);*/
    /*overflow-y: scroll;*/
    padding: 0px 20px;
}
#activeDays::-webkit-scrollbar {
    width: 10px;
    background: #0078c1;
    border-radius: 5px;
}
#activeDays::-webkit-scrollbar-thumb {
    background: white;
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

.day{
    margin-bottom: 20px;
}

#activeProducts{
    padding: 0px 10px;
    margin-top: 20px;
}

#noOpenEvents{
    padding: 20px 0px;
    font-size: 28px;
    font-style: italic;
    color: grey;
    display: table;
    margin: 0 auto;
}

#loadingProducts{
    padding: 20px 0px;
    font-size: 28px;
    font-style: italic;
    color: grey;
    display: table;
    margin: 0 auto;
}
.loader{
    border: 6px solid #ffffff;
    border-top: 6px solid #0078c1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-right: 20px;
    vertical-align: middle;
    display: inline-block;
}
.loader-sidebar{
    border: 6px solid #ffffff;
    border-top: 6px solid #0078c1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    vertical-align: middle;
    display: table;
    margin: 20px auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#loadingProducts span{
    vertical-align: middle;
}

.product{
    margin-bottom: 40px;
}
.card{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-image{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.product-content{
    padding: 40px 60px;
}


.product-time-information{
    margin: 10px 0px;
}

.product-time-slots{
    color: #0078c1;
    font-weight: bold;
    font-size: 22px;
}

.product-duration{
    color: #0078c1;
    font-size: 20px;
}

.product-title{
    font-weight: bold;
}

.product-description{
    color: #757575;
    font-size: 16px;
}

.product-book{
    text-decoration: none;
    font-size: 26px;
    padding: 10px 20px;
    background: none;
    border: 3px solid #0078c1;
    color: #0078c1;
    margin-top: 15px;
}
.product-book span{
    vertical-align: middle;
}
.product-book .fa{
    margin-left: 5px;
    vertical-align: middle;
}


@media only screen and (max-width: 900px) {
    #left{
        display: block;
        width: 100%;
        max-width: 100vw;
        height: unset;
        padding: 15px;
    }
    #left .moment-picker{
        display: none;
    }
    #left .multiselect-parent ul{
        position: relative;
        z-index: 999;
    }
    #right{
        display: block;
        width: 100%;
        max-width: 100vw;
        padding: 5px;
        margin-left: -3px;
    }
    #right #activeDays{
        padding: 0px 5px;
    }
    #right #activeProducts {
        padding: 0 !important;
    }
    .product-content {
        padding: 10px 15px;
    }
    .product-title{
        font-size: 22px;
    }
    .product-description{
        font-size: 14px;
    }
    .product-book{
        width: 100%;
    }
} 

