    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Bootstrap ISO CSS -->
    <!--<link rel="stylesheet" href="https://formden.com/static/assets/demos/bootstrap-iso/bootstrap-iso/bootstrap-iso.css">-->


    <!-- Angular Moment Picker CSS -->
    <link href="https://s3-us-west-2.amazonaws.com/occasion-custom-apps/playstreet/css/angular-moment-picker.css" rel="stylesheet" type="text/css" />

    <!-- Button Hover Effect CSS -->
    <link href="https://s3-us-west-2.amazonaws.com/occasion-custom-apps/playstreet/css/hover.min.css" rel="stylesheet" type="text/css" />

    <!-- Animation CSS -->
    <link href="https://s3-us-west-2.amazonaws.com/occasion-custom-apps/playstreet/css/animate.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="https://s3-us-west-2.amazonaws.com/occasion-custom-apps/playstreet/css/custom.css" rel="stylesheet" type="text/css" />
</head>
<div ng-app="PlayStreet" ng-controller="AppController" class="ListingExperience">

    <!-- Main Content Area -->
    <div id="mainContent" ng-show="!loading" style="display:none">

        <!-- Left Sidebar -->
        <div id="left">
            <!-- Filter Header -->
            <div id="filterHeader">Filter</div>

            <!-- Date Picker -->
            <div 
                id="momentInput"
                moment-picker="searchDate"
                format="LL LTS"
                min-view="year"
                max-view="month"
                min-date="today"
                today="true"
                start-view="month"
                inline="true"
                ng-model="searchDate"
                change="searchDateChanged()">
                {{ searchDate }}
            </div>

            <!-- Multi Location Selector -->
            <div class="form-group">
                <label for="multi-location">Locations</label>
                <div
                    name="multi-location"
                    ng-if="venues != null"
                    ng-dropdown-multiselect="" 
                    options="multiSelectOptions" 
                    selected-model="multiSelectModel"
                    ng-model="multiSelectModel" 
                    extra-settings="multiSelectSettings"
                    translation-texts="multiSelectTranslations"
                    events="multiSelectEvents"
                    disabled="multiSelectDisabled">
                </div>
            </div>

            <!-- Sidebar Loading Indicator -->
            <div class="loader-sidebar" ng-if="loadingScroll"></div>

        </div>

        <!-- Right Side List View -->
        <div id="right">

            <!-- Active Days -->
            <div id="activeDays">

                <!-- Select a venue header -->
                <div id="searchDateHeader" ng-if="activeVenues.length == 0">Select Venues</div>

                <!-- No Active Venues loader -->
                <div ng-if="activeVenues.length == 0 && !loading && !loadingProducts" id="loadingProducts">
                    <span>Please select at least one venue to view events</span>
                </div>

                <!-- Loading Events header -->
                <div id="searchDateHeader" ng-if="loadingProducts == true">Loading Events</div>

                <!-- Loading Products loader -->
                <div ng-if="loadingProducts == true" id="loadingProducts">
                    <div class="loader"></div>
                    <span>Loading Events</span>
                </div>

                <!-- No Events header -->
                <div id="searchDateHeader" ng-if="masterActiveDays.length == 0 && !loading && !loadingProducts && activeVenues.length != 0">No Events</div>

                <!-- No Events loader -->
                <div ng-if="masterActiveDays.length == 0 && !loading && !loadingProducts && activeVenues.length != 0" id="loadingProducts">
                    <span>There are no events for the locations you selected</span>
                </div>

                <!-- Day Loop -->
                <div class="day" ng-repeat="(day_index, day) in activeDays" id="{{ 'day-' + idFromDay(day_index) }}">
                    
                    <!-- Search Date Header -->
                    <div id="searchDateHeader">{{ formatDateHeader(day_index) }}</div>

                    <!-- List of Products for Day-->
                    <div id="activeProducts">

                        <!-- Product Card -->
                        <div
                            class="product card" 
                            ng-repeat="(product_index, product) in day"
                            ng-if="((product[0].product.status == 'bookable' || product[0].product.status == 'active') && product[0].product.firstTimeSlotStartsAt != null && product[0].product.timeSlotsArray.length > 0) || product[0].product.status == 'sold_out'" 
                        >
                            <!-- Image -->
                            <div class="product-image" ng-style="{ 'background-image': 'url(' + product[0].product.image.url + ')' }"></div>
                            <!-- Content -->
                            <div class="product-content">
                                <!-- Time Slots -->
                                <div class="product-time-information">
                                    <div class="product-time-slots">{{ formatTimeSlot(product[0].product.timeSlotsArray, day_index) }}</div>
                                    <div ng-if="product[0].product.status != 'sold_out'" class="product-duration">Duration: {{ formatDuration(product[0].product) }}</div>
                                </div>
                                <!-- Title -->
                                <h2 class="product-title">{{ product[0].product.title }}</h2>
                                <!-- Description -->
                                <ng-bind-html ng-bind-html="product[0].product.description" class="product-description"></ng-bind-html>
                                <!-- Book Now Button -->
                                <a href="{{ storeURL + product[0].product.id }}" target="_blank" ng-if="product[0].product.status != 'sold_out'">
                                    <button class="product-book btn hvr-sweep-to-right">
                                        <span>Book Now</span>
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </a>
                                <a disabled target="_blank" ng-if="product[0].product.status == 'sold_out'">
                                    <button disabled class="product-book btn">
                                        <span>Sold Out</span>
                                    </button>
                                </a>
                            </div>
                        </div>
        
                    </div>
                </div>

                <!-- Loading Products Header -->
                <div ng-if="loadingMoreDays == true" id="loadingProducts">
                    <div class="loader"></div>
                    <span>Loading More Events</span>
                </div>

            </div>

        </div>

    </div>
    <!-- End Main Content Area -->

    <!-- Include Moment Dependencies -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>

    <!-- Include Venue Information -->
    <script src="https://s3-us-west-2.amazonaws.com/occasion-custom-apps/playstreet/venues.js"></script>

    <!-- Bundled Resources -->
    <script src="https://s3-us-west-2.amazonaws.com/occasion-custom-apps/playstreet/vendor.bundle.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/occasion-custom-apps/playstreet/app.bundle.js"></script>

</div>